div(ng-include='"components/navbar/navbar.html"')

.loader(ng-if='loading')
  h2 Analyzing Data...
  img(src='assets/images/loading.gif')
  h2 Analyzing Data...

h4 Last updated {{last_updated | date:'MM-dd-yyyy HH:mm:ss Z'}}
.btn.btn-primary#fetch(ng-click="fetchData()") Fetch New Data

h2 Total Users: {{totalUsers}}
h3 API Calls: {{apiCalls}}

table
  tr
    th Cohort
    th Total
    th Applied
    th Accepted
    th Enrolled
    th Graduated
    th Job
    th Residents
  tr(ng-repeat='cohortTag in cohortTags')
    td {{cohortTag.display_name}}
    td {{cohortTag.total_count}}
    td {{cohortTag.appliedCount}}
    td {{cohortTag.acceptedCount}}
    td {{cohortTag.enrolledCount}}
    td {{cohortTag.graduatedCount}}
    td {{cohortTag.jobCount}}
    td {{cohortTag.residentCount}}

br
br

table
  thead
    tr
      th Stage
      th Current #
      th Overall #
      th Stage Conversion Rate
      th Overall Conversion Rate
  tr(ng-repeat='stageTag in stageTags')
    td {{stageTag.name}}
    td {{stageTag.total_count}}
    td {{stageTag.overall_count}}
    td(ng-if="stageTag.stageConversionRate") {{stageTag.stageConversionRate}}%
    td(ng-if="stageTag.overallConversionRate") {{stageTag.overallConversionRate}}%

h3 All Tags
table.table-striped
  tr(ng-repeat='tag in tags')
    td {{tag.name}}
    td {{tag.total_count}}
